/* add new task form styles */
form {
    margin: 3rem;
}
form, #taskStatus, #taskDueDate {
    font-size: 0.8rem;
}

form h4{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.centerSubmit {
    text-align: center;
}

/* task card styles */
.taskrow {
    
    margin: 3rem 1rem 1rem 1rem;
}
.card {
    width: 14rem;
}
.cardbody {
    font-size: 0.9rem;
}
.taskCardIcon {
    font-size: 0.9rem;
    padding: 0;
}
#statusbadgediv {
    text-align: right;
    margin-top: 0;
}
#statusBadge {
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    background-color: rgb(22, 126, 53);
    color: white;
}
#taskCardName {
    text-align: center;
    background-color: wheat;
}

h6 {
padding: 0.5rem;
}